#box1,
#box2,
#box3 {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  padding: 30px;
}

#box1 {
  padding-left: 10px;
  padding-top: 200px;
  border-top: 3px dashed orange;
  border-right-color: gold;
  border-right-style: dotted;
  margin-left: auto;
  margin-right: auto;
}

#box2 {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 25%;
  background-color: red;
  color:white;
  margin-right: 100px;
}