body {
  background-color: #1c293a;
}

#calcContainer {
  border: 1px solid white;
  width: 350px;
}

#calcContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.buttonItem {
  width: 70px;
  height: 70px;
  background-color: #354356;
}