body {
  background-color:#eff5f8;
  background-repeat: no-repeat;  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 0px 8px 16px rgba(138, 177, 194, 0.28);
  width: 496px;
  border-radius: 16px;
}

.button {
  background-color: #6392a7;
  border: 2px solid blue;
  color: #fff;
  height: 40px;
  border-radius: 16px;
  padding: 16px;
  font-size: 18px;
  align-items: center;
}

.date-font-color {
  color: #6392a7;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  border-radius: 16px;
}

.grid-item {
  background-color: #78a374;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 84px;
  width: 84px;
  padding: 16px;
}



